/* EXTEND */
.cajaformulario, .enviar, .maps {
  display: flex;
  justify-content: center;
  margin: auto; }

/* Reutilizar codigos modificandolos */
/* @mixin titulos ($bg-color){
    background-color: ;
    
} */
/* CONDICIONALES */
/* 
    if condicion {
        pasa esto}else {
            pasa esto otro}

    si (tu me hubieras dicho){seria
    } else { ahora te puedes
    }
*/
/* @mixin mediaQuery ($pantalla) {
    
    @if $pantalla == mobile {
        @media only screen and (max-width: 425px) {
            @content;
     }
        
    };
    @if $pantalla == tablet {
        @media only screen and (max-width: 780px) {
            @content;
        }
        
    };
    @if $pantalla == desktop {
        @media only screen and (max-width: 1024px) {
            @content;
        }
        
    };
}
 */
/* BUCLE FOR */
.carousel-item {
  height: 38rem;
  width: 100%; }

.promost {
  width: 100%; }
  .promost .promos {
    display: flex;
    justify-content: center;
    margin: 5%; }
    .promost .promos .promos__subt1 {
      background-color: #0000004d;
      border-radius: 15px;
      padding: 10px;
      width: 20rem;
      margin: auto; }
    .promost .promos .promos__subt2 {
      background-color: #ffbf00b0;
      text-align: center;
      padding: 1%;
      border-radius: 20%;
      font-size: 4px;
      margin: 0rem 10rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.p__importante {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 18pt;
  color: #7f0000; }

@media only screen and (max-width: 768px) {
  .promost {
    width: 100%;
    margin: auto; }
  .promos {
    display: flex;
    margin-bottom: 20px; }
  .promos__subt1 {
    border-radius: 15%;
    padding: 2%;
    width: 30%;
    font-size: 3px;
    margin: 0% 10% !important; }
  .promos__subt2 {
    padding: 3%;
    border-radius: 80%;
    font-size: 3px;
    width: 30%;
    margin: auto !important; }
  .carousel-item {
    height: 20rem !important;
    width: 100vw !important; } }

@media only screen and (max-width: 425px) {
  /* INDEX */
  /* HEADER */
  .carousel-item {
    height: 10rem !important;
    width: 100vh; }
  .header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px; }
  .cabecera__img {
    border-radius: 20%;
    width: 75px;
    height: 75px;
    align-items: center;
    margin: 5px; }
  /* MAIN */
  .promost {
    width: 100%;
    margin-bottom: 5%; }
  .promos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto !important;
    width: 100%; }
  .promos__subt1 {
    border-radius: 15%;
    padding: 2%;
    width: 60% !important;
    margin: auto !important;
    font-size: 3px; }
  .promos__subt2 {
    padding: 6%;
    border-radius: 50%;
    font-size: 1px;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
  p {
    font-family: Montserrat;
    font-size: 0.6rem !important;
    text-align: center; }
  .p__importante {
    text-align: center;
    font-size: 0.7rem !important; }
  .maps {
    justify-content: center;
    border: solid 3px black;
    width: fit-content;
    margin: auto;
    margin-bottom: 5%;
    height: 150px;
    width: 200px; }
  h3 {
    font-size: 1.3rem !important;
    width: 99%;
    margin-top: 10px !important; }
  h4 {
    border-radius: 5%;
    width: max-content;
    font-size: 0.9rem !important;
    padding: 2px;
    margin: auto; } }

.cajaformulario {
  width: 25%;
  height: 40%;
  border: solid 2px black;
  border-radius: 5%;
  background-color: #8d8d2f;
  margin-bottom: 10%;
  margin-top: 2%; }

.formulario {
  display: block;
  justify-content: center;
  margin: auto; }

.box {
  width: 100%;
  height: 60px; }

@media only screen and (max-width: 768px) {
  body {
    min-height: 100vh; }
  .cajaformulario {
    width: 50%;
    margin: auto;
    margin-bottom: 10%; }
  input {
    width: 80%; }
  footer {
    margin-bottom: 0; }
  .footer__lista__links {
    margin: 3px; }
  .footer__lista__links a {
    font-size: 10px; }
  .iconos {
    width: 15px;
    height: 15px;
    margin: auto; } }

@media only screen and (max-width: 425px) {
  .cajaformulario {
    width: 60%;
    margin-bottom: 35%;
    margin-top: 10%; }
  input {
    width: 40%; } }

/* .main { */
/* atributos */
/* @include flexbox(block, flex-start, end);
    .menu { */
/* atributos */
/*  @extend %flex-center;
    }
        .contenedor1 { */
/* atributos */
/* font-size: map-get($map: $tamanio-tipografia,); */
/* @include mediaQuery(mobile){
            
        }
        }
} */
.menu {
  background-image: url(../imagenes/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }
  .menu .menu h4 {
    font-size: 20px; }
    .menu .menu h4 .menu p {
      font-size: 15px; }

.contenedor1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 90%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 80vw;
  margin: auto;
  height: fit-content;
  margin-top: 5rem; }

.lineas__clasica {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 1rem; }

.maxima {
  grid-area: 2 / 1 / 3 / 2; }

.victoria {
  grid-area: 2 / 2 / 3 / 3; }

.isabel {
  grid-area: 2 / 3 / 3 / 4; }

.contenedor2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 15% 100%;
  grid-template-areas: "lineaGolden lineaGolden lineaCheese lineaCheese lineaHomenaje lineaHomenaje" "reyarturo magnus william charlotte smokeshack friedonion";
  width: 100%;
  margin: auto;
  margin-top: 8rem; }

.contenedor2 .lineaGolden, .lineaCheese, .lineaHomenaje {
  width: 100%;
  justify-content: center;
  height: fit-content;
  margin: auto; }

.contenedor2 .reyarturo .magnus .william .ccharlotte .smokeshack .friedonion {
  margin: 1rem 1rem; }

.lineaGolden {
  grid-area: lineaGolden; }

.lineaCheese {
  grid-area: lineaCheese; }

.lineaHomenaje {
  grid-area: lineaHomenaje; }

.reyarturo {
  grid-area: reyarturo; }

.magnus {
  grid-area: magnus; }

.william {
  grid-area: william; }

.charlotte {
  grid-area: charlotte; }

.smokeshack {
  grid-area: smokeshack; }

.friedonion {
  grid-area: friedonion; }

.card {
  background-color: #00000037 !important;
  /* me pisa el boostrap */
  border: solid 1px white !important;
  margin: auto;
  margin-top: 0%;
  width: 12rem; }

.card-img-top {
  width: 10rem;
  height: 10rem; }

.menu__subt {
  margin-top: 10px; }

@media only screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column; }
  .contenedor1 {
    width: 90vw;
    margin-bottom: 10%; }
  .contenedor2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 50% 10% 50%;
    grid-template-areas: "lineaGolden lineaGolden lineaCheese lineaCheese" "reyarturo magnus william charlotte" "lineaHomenaje lineaHomenaje lineaHomenaje lineaHomenaje" "smokeshack smokeshack friedonion friedonion";
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 30%; }
  footer {
    margin-bottom: 0 !important; } }

@media only screen and (max-width: 425px) {
  .contenedor1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 30% 30%;
    grid-template-areas: "lineas__clasica" "maxima" "victoria" "isabel";
    margin: 2rem 0rem;
    width: 80vw;
    margin: auto; }
  .lineas__clasica {
    grid-area: lineas__clasica; }
  .maxima {
    grid-area: maxima; }
  .victoria {
    grid-area: victoria; }
  .isabel {
    grid-area: isabel; }
  .contenedor2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3% 12% 12% 3% 12% 12% 3% 12% 12%;
    grid-template-areas: "lineaGolden" "reyarturo"  "magnus"  "lineaCheese"  "william" "charlotte"  "lineaHomenaje" "smokeshack"   "friedonion";
    width: 95%;
    justify-content: center;
    margin: auto;
    gap: 2rem;
    mar9gin-top: 55px; }
  .contenedor2 .lineaGolden, .lineaCheese, .lineaHomenaje {
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin: auto; }
  .contenedor2 .reyarturo .magnus .william .ccharlotte .smokeshack .friedonion {
    margin: 1rem 1rem; }
  .lineaGolden {
    grid-area: lineaGolden; }
  .lineaCheese {
    grid-area: lineaCheese; }
  .lineaHomenaje {
    grid-area: lineaHomenaje; }
  .reyarturo {
    grid-area: reyarturo; }
  .magnus {
    grid-area: magnus; }
  .william {
    grid-area: william; }
  .charlotte {
    grid-area: charlotte; }
  .smokeshack {
    grid-area: smokeshack; }
  .friedonion {
    grid-area: friedonion; }
  .menu__subt {
    margin-top: 10px; }
  .card {
    background-color: #000000d5 !important;
    /* me pisa el boostrap */
    border: solid 1px white !important;
    margin: auto;
    margin-top: 0%;
    width: 11rem !important; }
  .card-img-top {
    width: 10rem !important;
    height: 8rem !important;
    margin: auto; } }

.nuestrahistoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "comienzo mudanza" "local local";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-bottom: 50px; }
  .nuestrahistoria .comienzo {
    grid-area: comienzo;
    background-color: rgba(0, 0, 0, 0.544);
    border-radius: 10px;
    border: solid 1px black;
    margin: 10px;
    width: 90%;
    height: fit-content;
    padding: 5px 5px;
    animation: comienzo 2s ease 0s 1 normal both; }

@keyframes comienzo {
  0% {
    opacity: 0;
    transform: translateX(-250px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  .nuestrahistoria .mudanza {
    grid-area: mudanza;
    background-color: rgba(0, 0, 0, 0.544);
    border-radius: 10px;
    padding: 5px 5px;
    border: solid 1px black;
    margin: 10px;
    width: 95%;
    height: fit-content;
    animation: mudanza 2s ease 1s 1 normal both; }

@keyframes mudanza {
  0% {
    opacity: 0;
    transform: translateX(250px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  .nuestrahistoria .local {
    grid-area: local;
    background-color: rgba(0, 0, 0, 0.544);
    border-radius: 10px;
    border: solid 1px black;
    margin: 20px;
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 5px 5px;
    animation: local 2s ease 2.5s 1 normal both; }

@keyframes local {
  0% {
    opacity: 0;
    transform: translateY(250px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.textolargo {
  font-family: Montserrat;
  font-size: 18px;
  text-align: justify;
  color: white; }

@media only screen and (max-width: 768px) {
  @keyframes mudanza {
    0% {
      opacity: 0;
      transform: translateX(1px); } } }

@media only screen and (max-width: 425px) {
  @keyframes mudanza {
    0% {
      opacity: 0;
      transform: translateX(1px); } }
  .nuestrahistoria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "comienzo" "mudanza" "local";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 50px; } }

.link__pedidos {
  padding: 30px; }

.linkpedidos {
  text-decoration: none;
  list-style: none;
  color: white;
  margin: auto; }

@media only screen and (max-width: 425px) {
  .map {
    margin-bottom: 24%; } }

* {
  padding: 0;
  margin: 0; }

body {
  background-image: url(../imagenes/BACKROUND.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

.cabecera__img {
  border-radius: 20%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 5px;
  margin: auto; }

.navbar {
  border: solid 1px #ce432b;
  background-color: #0000008a;
  justify-content: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }
  .navbar .navbar-nav {
    margin: auto;
    justify-content: space-evenly;
    width: 80%; }

.navbar a {
  color: white !important;
  text-shadow: 0 0 10px #FFFFFF, 0px 1px 20px rgba(0, 0, 0, 0.47) !important;
  transition: transform 1s; }
  .navbar a:hover {
    transform: scale(1.1); }

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%; }

.footer__redes {
  background-color: rgba(0, 0, 0, 0.544);
  margin-bottom: 0;
  display: flex;
  justify-content: end; }

.footer__lista__links {
  display: inline-block;
  margin: 10px; }

.footer__lista__links a {
  display: flex;
  direction: column-reverse;
  justify-content: none;
  align-items: center;
  /* @if $direction == column {
        justify-items: end;   
    }@else {
        justify-items: space-around;
    } */
  text-decoration: none;
  color: #FFFFFF;
  margin: auto; }

.iconos {
  width: 30px;
  height: 30px;
  margin: auto; }

.main {
  display: flex;
  direction: block;
  justify-content: space-around;
  align-items: center;
  /* @if $direction == column {
        justify-items: end;   
    }@else {
        justify-items: space-around;
    } */
  width: 100%; }

h2 {
  text-align: center;
  border: groove 2px white;
  color: white;
  background-color: black;
  margin: auto;
  width: 200px;
  font-size: 20pt !important;
  font-family: 'Indie Flower';
  border-radius: 5px; }

h3 {
  text-align: center;
  border: groove 2px #ce432b;
  color: white;
  background-color: rgba(0, 0, 0, 0.277);
  margin: auto;
  width: 100%;
  font-size: 28pt !important;
  font-family: 'Indie Flower', cursive;
  margin-top: 3rem !important; }

h4 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.52);
  border-radius: 5%;
  width: max-content;
  padding: 2%;
  color: #ffc400;
  font-family: "Montserrat";
  margin: auto; }

.maps {
  border: solid 10px black;
  margin-bottom: 5%;
  height: 500px;
  width: 650px; }

p {
  font-family: "Montserrat";
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.926); }

/* MEDIA: max es hasta esos px, min es desde "x"px a mas */
@media only screen and (max-width: 768px) {
  .header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px; }
  .cabecera__img {
    border-radius: 20%;
    width: 100px;
    height: 100px;
    align-items: center;
    margin: 5px; }
  .carousel-item {
    height: 100%; }
  .navbar {
    width: 100vw !important; }
  /* MAIN */
  p {
    font-family: Montserrat;
    font-size: 0.6rem;
    text-align: center; }
  .p__importante {
    text-align: center;
    font-size: 15px; }
  .maps {
    display: flex;
    justify-content: center;
    border: solid 5px black;
    width: fit-content;
    margin: auto;
    margin-bottom: 5%;
    height: 150px;
    width: 250px; }
  h3 {
    font-size: 25px;
    width: 99%; }
  h4 {
    border-radius: 5%;
    width: max-content;
    font-size: 1.3rem;
    padding: 2px;
    margin: auto; }
  /* FOOTER */
  footer {
    position: relative;
    width: 100%;
    bottom: 0; }
  .footer__redes {
    bottom: 0; }
  .footer__lista__links {
    margin: 5px; }
  .footer__lista__links a {
    font-size: 13px; }
  .iconos {
    width: 20px;
    height: 20px;
    margin: auto; } }

@media only screen and (max-width: 425px) {
  /* INDEX */
  /* HEADER */
  body {
    max-width: 100% !important; }
  .cabecera__img {
    border-radius: 20%;
    width: 75px;
    height: 75px;
    align-items: center;
    margin: 5px; }
  /* MAIN */
  p {
    font-family: Montserrat;
    font-size: 0.6rem !important;
    text-align: center; }
  .p__importante {
    text-align: center;
    font-size: 0.7rem !important; }
  .maps {
    justify-content: center;
    border: solid 3px black;
    width: fit-content;
    margin: auto;
    margin-bottom: 5%;
    height: 150px;
    width: 200px; }
  h3 {
    font-size: 1.3rem !important;
    width: 99%;
    margin-top: 10px !important; }
  h4 {
    border-radius: 5%;
    width: max-content;
    font-size: 0.9rem !important;
    padding: 2px;
    margin: auto; }
  /* FOOTER */
  footer {
    position: relative;
    width: 100%;
    bottom: 0 !important;
    margin-bottom: 0% !important; }
  .footer__lista__links {
    margin: 3px; }
  .footer__lista__links a {
    font-size: 10px; }
  .iconos {
    width: 15px;
    height: 15px;
    margin: auto; }
  /* MENU */
  .menu h4 {
    font-size: 13px !important; }
  .menu p {
    font-size: 9px !important; }
  h2 {
    font-size: 15px !important;
    width: fit-content;
    padding: 2px; }
  /* MAIN PEDIDOS */
  /* MAIN PEDIDOS */
  /* MAIN PEDIDOS */
  /* MAIN PEDIDOS */
  .link__pedidos {
    padding: 30px; }
  .linkpedidos {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    margin: auto; } }
