/* Sintaxis de css  */
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./imagenes/BACKROUND.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
.cabecera__img {    
    border-radius: 20%;
    width: 150px;
    height: 150px;  
    align-items: center;
    margin: 5px ;
    
}
    
.header__list {
    border: solid 1px black;
    width: 100%;
    background-color: rgba(116, 24, 24, 0.782);
    color: rgb(182, 32, 32);
    display: flex;
    justify-content: center;
    transition: transform 1.5s;
  
}
.header__list li:hover {
    transform: scale(1.5);
}

.header__list__item {
    display: inline-block;
    padding: 10px;
    margin: 2px 40px;
   
}
.cabecera__list__link {     
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
    font-size: 16px;
    text-shadow: 0 0 10px #FFFFFF, 0px 1px 20px rgba(0,0,0,0.47);

} 

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    
    
}    


/* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */ /* MAIN */
main {
    width: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
}

.promost {
    width: 100%;
}
.promos {
    display: flex;
    justify-content: center;
    margin: 5%;

}

.promos__subt1 {
    border: solid 1px black;
    background-color: rgba(149, 0, 0, 0.749);
    border-radius: 15px;
    padding: 10px;
    width: 20rem;
    margin: auto;
}

.promos__subt3 {
    border: solid 1px black;
    background-color: rgba(149, 0, 0, 0.749);
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    width: 20rem;
      
}
.promos__subt2 {
    border: solid 1px;
    background-color: rgba(255, 255, 6, 0.713);
    text-align: center;
    padding: 3%;
    color: chocolate;
    border-radius: 40%;
    font-size: 40px;
    margin: 0rem 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    text-align: center;
    border: groove 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 200px;
    font-size: 24px;
    font-family: 'Indie Flower';
    border-radius: 5px;
}

h3 {
    text-align: center;
    border: groove 2px black;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.277);
    margin: auto;
    width: 99.7%;
    font-size: 36px;
    font-family: 'Indie Flower', cursive;
}

h4 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5%;
    width: max-content;
    font-size: 30px;
    padding: 15px;
    color: rgb(230, 154, 14);
    font-family: "Barlow Condensed";
    margin: auto;
}
/* Aling content es solo cuando es wrap */

p {
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.926);
    
}
.p__importante {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 24px;
    color: rgb(97, 12, 12);
    
    
    
}

.maps {
    display: flex;
    justify-content: center;
    border: solid 10px black;
    margin: auto;
    margin-bottom: 5%;
    height: 500px;
    width: 650px;
    
   
}

/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* HEADER MENU */

.menu h4 {
    font-size: 20px;
    
}
.menu p {
    font-size: 15px;
}
.contenedor1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 2rem 0rem;
    width: 80vw;
    margin: auto;
    
}

    
.lineas__clasica { grid-area: 1 / 2 / 2 / 3; 
    margin-top: 1rem;
}
.maxima { grid-area: 2 / 1 / 3 / 2; }
.victoria { grid-area: 2 / 2 / 3 / 3; }
.isabel { grid-area: 2 / 3 / 3 / 4; }

.contenedor2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "lineaGolden lineaGolden lineaCheese lineaCheese lineaHomenaje lineaHomenaje"
            "reyarturo magnus william charlotte smokeshack friedonion";
        width: 95%;
        justify-content: center;
        margin: auto;
        gap: 5px;
    

    
        
}
.contenedor2 .lineaGolden, .lineaCheese, .lineaHomenaje {
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin: auto;
    
    
    
}
.contenedor2 .reyarturo .magnus .william .ccharlotte .smokeshack .friedonion {
    margin: 1rem 1rem;    
}        
.lineaGolden { grid-area: lineaGolden; }
.lineaCheese { grid-area: lineaCheese; }
.lineaHomenaje { grid-area: lineaHomenaje; }
.reyarturo { grid-area: reyarturo; }
.magnus { grid-area: magnus; }
.william { grid-area: william; }
.charlotte { grid-area: charlotte; }
.smokeshack { grid-area: smokeshack; }
.friedonion { grid-area: friedonion; }

.menu__subt {
    margin-top: 10px;
}

/* MAIN PEDIDOS */ /* MAIN PEDIDOS */ /* MAIN PEDIDOS */ /* MAIN PEDIDOS */


.link__pedidos {
    padding: 30px;
}

.linkpedidos {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    margin: auto;
}



/* MAIN NSTRA HISTORIA */ /* MAIN NSTRA HISTORIA */ /* MAIN NSTRA HISTORIA */ /* MAIN NSTRA HISTORIA */

h5  {
    font-family: "Barlow Condensed";
    color: rgb(199, 199, 16);
    font-size: 30px;
    width: fit-content;
    text-align: justify;
    padding: 5px;
    height: fit-content;
    background-color: rgba(129, 11, 11, 0.526);


}

.nuestrahistoria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
       "comienzo mudanza"
        "comienzo ."
        "local local";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 50px;
    }
    
    .comienzo {
        grid-area: comienzo;
        background-color: rgba(0, 0, 0, 0.544);
        border-radius: 10px;
        border: solid 1px black; 
        margin: 10px;
        width: 90%;
        height: fit-content;
        padding: 5px 5px;
        animation: comienzo 2s ease 0s 1 normal both;}
        @keyframes comienzo {
            0% {
                opacity: 0;
                transform: translateX(-250px);
            }        
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    .mudanza { 
        grid-area: mudanza;
        background-color: rgba(0, 0, 0, 0.544);
        border-radius: 10px;
        padding: 5px 5px;
        border: solid 1px black;
        margin: 10px;
        width: 95%;
        height: fit-content;
        animation: mudanza 2s ease 1s 1 normal both;}
        @keyframes mudanza {
            0% {
                opacity: 0;
                transform: translateX(250px);
            }        
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    .local {
        grid-area: local;
        background-color: rgba(0, 0, 0, 0.544);
        border-radius: 10px;
        border: solid 1px black;
        margin: 20px;
        width: 100%;
        height: fit-content;
        margin: auto;
        padding: 5px 5px;
        animation: local 2s ease 2.5s 1 normal both;}
        @keyframes local {
            0% {
                opacity: 0;
                transform: translateY(250px);
            }        
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

    .textolargo {

    font-family: Montserrat;
    font-size: 18px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.926);

}
/* MAIN CONTACTO */ /* MAIN CONTACTO */ /* MAIN CONTACTO */ /* MAIN CONTACTO */

.cajaformulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border: solid 2px black;
    border-radius: 5%;
    margin: auto;
    background-color: rgb(141, 141, 47);
    margin-bottom: 100px;
    margin-top: 10px;
}

.formulario {
   display: block;
   justify-content: center;
   margin: auto;

}

.box {
    width: 100%;
    height: 60px;

}
    
.enviar {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.footer__redes {
    background-color: rgba(0, 0, 0, 0.544);
    margin-bottom: 0;
    display: flex;
    justify-content: end;
}

.footer__lista__links {
    display: inline-block;
    margin: 10px;
    
}

.footer__lista__links a {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: auto;
    
}

.iconos {
    width: 30px;
    height: 30px;
    margin: auto;    
}

/* MEDIA: max es hasta esos px, min es desde "x"px a mas */
@media only screen and (max-width: 768px) {
    .header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }
    .cabecera__img {    
        border-radius: 20%;
        width: 100px;
        height: 100px;  
        align-items: center;
        margin: 5px ;
        
    }
        
    .header__list {
        border: solid 1px black;
        width: 99vw;
        background-color: rgba(116, 24, 24, 0.782);
        color: rgb(182, 32, 32);
        display: flex;
        justify-content: center;
      
    }
    .header__list__item {
        display: inline-block;
        padding: 2px;
        margin: 5px 20px;
       
    }
    .cabecera__list__link {     
        text-decoration: none;
        list-style: none;
        color: white;
        text-align: center;
        font-size: 13px;
        text-shadow: 0 0 10px #FFFFFF, 0px 1px 20px rgba(0,0,0,0.47);
    
    } 
    .banner {
           justify-content: center;
           margin: auto;
           width: 98vw;
       }
       /* MAIN */

    .promost {
        width: 100%;
    }
    .promos {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 80%;
        margin-bottom: 20px;
    
    }
    
    .promos__subt1 {
        margin: auto;
        border-radius: 15%;
        padding: 2%;
        width: 30%;
        font-size: 3px;
    }
    
    .promos__subt3 {
        margin: auto;
        border-radius: 15%;
        padding: 2%;
        width: 30%;
        font-size: 3px;
    }
    .promos__subt2 {
        padding: 3%;
        border-radius: 80%;
        font-size: 3px;
        width: 30%;
        margin: auto;
        margin: 0px 1rem;
    }
    
    p {
        font-family: Montserrat;
        font-size: 0.6rem;
        text-align: center;        
    }
    .p__importante {
        text-align: center;
        font-size: 15px;        
        
    } 
    
    .maps {
        display: flex;
        justify-content: center;
        border: solid 5px black;
        width: fit-content;
        margin: auto;
        margin-bottom: 5%;
        height: 150px;
        width: 250px;
    }   
    h3 {
        font-size: 25px;
        width: 99%;
    }
    h4 {
        border-radius: 5%;
        width: max-content;
        font-size: 1.3rem;
        padding: 2px;
        margin: auto;
    }
/* FOOTER */
footer {
    position: relative;
    width: 100%;    
}

.footer__lista__links {
    margin: 5px; 
}
.footer__lista__links a {
    font-size: 13px;
    
}
.iconos {
    width: 20px;
    height: 20px;
    margin: auto;    
}
   }

   @media only screen and (max-width: 420px) {
    /* INDEX */  
    /* HEADER */
    .header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }
    .cabecera__img {    
        border-radius: 20%;
        width: 75px;
        height: 75px;  
        align-items: center;
        margin: 5px ;
        
    }
        
    .header__list {
        border: solid 1px black;
        width: 99vw;
        background-color: rgba(116, 24, 24, 0.782);
        color: rgb(182, 32, 32);
        display: flex;
        justify-content: center;
      
    }
    .header__list__item {
        display: inline-block;
        padding: 2px;
        margin: 1px 5px;
       
    }
    .cabecera__list__link {     
        text-decoration: none;
        list-style: none;
        color: white;
        text-align: center;
        font-size: 55%;
        text-shadow: 0 0 10px #FFFFFF, 0px 1px 20px rgba(0,0,0,0.47);
    
    } 
    .banner {
           justify-content: center;
           margin: auto;
           width: 98vw;
       }
       /* MAIN */

    .promost {
        width: 100%;
    }
    .promos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 80%;
    
    }
    
    .promos__subt1 {
        border-radius: 15%;
        padding: 2%;
        width: 30%;
        margin: auto;
        font-size: 3px;
    }
    
    .promos__subt3 {
        margin: auto;
        border-radius: 15%;
        padding: 1%;
        width: 30%;
        margin-bottom: 10px;
        font-size: 3px;
    }
    .promos__subt2 {
        padding: 3%;
        border-radius: 80%;
        font-size: 1px;
        width: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    p {
        font-family: Montserrat;
        font-size: 0.6rem;
        text-align: center;        
    }
    .p__importante {
        text-align: center;
        font-size: 0.7rem;        
        
    } 
    
    .maps {
        justify-content: center;
        border: solid 3px black;
        width: fit-content;
        margin: auto;
        margin-bottom: 5%;
        height: 150px;
        width: 200px;
    }   
    h3 {
        font-size: 1.3rem;
        width: 99%;
    }
    h4 {
        border-radius: 5%;
        width: max-content;
        font-size: 0.9rem;
        padding: 2px;
        margin: auto;
    }
/* FOOTER */
footer {
    position: relative;
    width: 100%;    
}

.footer__lista__links {
    margin: 3px; 
}
.footer__lista__links a {
    font-size: 10px;
    
}
.iconos {
    width: 15px;
    height: 15px;
    margin: auto;    
}

/* MENU */

.menu h4 {
    font-size: 13px;
    
}
.menu p {
    font-size: 9px;
}
h2 {
    font-size: 15px;
    width: fit-content;
    padding: 2px;
}
.contenedor1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "lineas__clasica"
    "maxima"
    "victoria"
    "isabel";
    margin: 2rem 0rem;
    width: 80vw;
    margin: auto;
    
}

    
.lineas__clasica { grid-area: lineas__clasica; }
.maxima { grid-area: maxima;}
.victoria { grid-area: victoria; }
.isabel { grid-area: isabel; }

.contenedor2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
            "lineaGolden"
            "reyarturo" 
            "magnus" 
            "lineaCheese" 
            "william"
            "charlotte" 
            "lineaHomenaje"
            "smokeshack"  
            "friedonion";
        width: 95%;
        justify-content: center;
        margin: auto;
        gap: 2rem;
    

    
        
}
.contenedor2 .lineaGolden, .lineaCheese, .lineaHomenaje {
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin: auto;
    
    
    
}
.contenedor2 .reyarturo .magnus .william .ccharlotte .smokeshack .friedonion {
    margin: 1rem 1rem;    
}        
.lineaGolden { grid-area: lineaGolden; }
.lineaCheese { grid-area: lineaCheese; }
.lineaHomenaje { grid-area: lineaHomenaje; }
.reyarturo { grid-area: reyarturo; }
.magnus { grid-area: magnus; }
.william { grid-area: william; }
.charlotte { grid-area: charlotte; }
.smokeshack { grid-area: smokeshack; }
.friedonion { grid-area: friedonion; }

.menu__subt {
    margin-top: 10px;
}

/* MAIN PEDIDOS */ /* MAIN PEDIDOS */ /* MAIN PEDIDOS */ /* MAIN PEDIDOS */


.link__pedidos {
    padding: 30px;
}

.linkpedidos {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    margin: auto;
}

   }

