.carousel-item {
    height: 38rem;
    width: 100%;
}
.promost {
    width: 100%;
    .promos {
        display: flex;
        justify-content: center;
        margin: 5%;
        .promos__subt1 {
            background-color: #0000004d;
            border-radius: 15px;
            padding: 10px;
            width: 20rem;
            margin: auto;}
            .promos__subt2 {
                background-color: #ffbf00b0;
                text-align: center;
                padding: 1%;
                border-radius: 20%;
                font-size: 4px;
                margin: 0rem 10rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
            }
        }            
.p__importante {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18pt;
    color: #7f0000; 
}

        